@using SoftUniFest.Data.Models.App
@using SoftUniFest.Services
@using SoftUniFest.Web.Infrastructure
@inject IApproveEmployeeService ApproveEmployee
@model SoftUniFest.Web.ViewModels.Discounts.EmployeeDiscountListViewModel

@{
    this.ViewData["Title"] = "Waiting to approve";
}

<table id="myTable" class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Trader Username</th>
            <th scope="col">Percentage (%)</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Status</th>
            <th scope="col">Approve</th>
            <th scope="col">Reject</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Discounts)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Trader.Username</td>
                <td>@item.Percentage</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.Status.ToString() @if (@item.Status == StatusType.Active) {<text>(@item.ApproveCount / 2)</text>}</td>
                <td><a class="btn btn-success @if (ApproveEmployee.IsApproved(item.Id, this.User.GetId())) { <text>disabled</text> }" asp-controller="Employees" asp-action="Approve" asp-route-discountId="@item.Id">Approve</a></td>
                <td><a class="btn btn-danger @if (@item.Status == StatusType.Rejected) { <text>disabled</text> }" asp-controller="Employees" asp-action="Reject" asp-route-discountId="@item.Id">Reject</a></td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>
}
